<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div class="homepage-box">
            <button onclick="location.href='/'">Home</button>
            <p></p>
            <button onclick="location.href='/login'">Login</button>
            <p></p>
            <button onclick="location.href='/signup'">Sign-up</button>

            <div class="count">
                <Label>User count</Label>
            </div>
        </div>
        <p></p>
        <div class="welcome">
            <p>Welcome to Taste Tester, a place of honesty for food kausines</p>

            <h1>Get to know Taste Tester</h1>
            <p>Taste Tester is a place where personal opinion is based beyond advertisement, be honest with the quality of food, drinks, or hospitality of the place you have been to, without your information or true name being criticised online</p>

        </div>
        
        

    </body>
</html>