<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#ff6347">

<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js");
}
</script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Home</title>
</head>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/service-worker.js");
}
</script>


<body>

    <div class="homepage-box">

        <!-- Navigation -->
        <button onclick="location.href='/'">Home</button>
        <p></p>

        {% if session.get('user_id') %}
            <button onclick="location.href='/dashboard'">Dashboard</button>
            <p></p>
            <button onclick="location.href='/lists'">Reviews</button>
            <p></p>
            <button onclick="location.href='/logout'">Logout</button>
        {% else %}
            <button onclick="location.href='/login'">Login</button>
            <p></p>
            <button onclick="location.href='/signup'">Sign-up</button>
        {% endif %}

        <!-- User count -->
        <div class="count">
            <label>This is how many people use Taste Tester: 
                <span id="live-user-count">{{ user_count }}</span>
            </label>
        </div>

    </div>

    <p></p>

    <div class="welcome">

        {% if session.get('username') %}
            <h2>Welcome back, {{ session['username'] }}!</h2>
        {% else %}
            <h2>Welcome to Taste Tester</h2>
        {% endif %}

        <p>A place of honesty for food cuisines.</p>

        <h1>Get to know Taste Tester</h1>
        <p>
            Taste Tester is a place where personal opinion is valued beyond advertisement.
            Be honest about the quality of food, drinks, or hospitality of the places you visit,
            without your identity being criticised online.
        </p>

    </div>

</body>
</html>