<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
    <div class="login-box">
        <h2>Signup</h2>

        <div class="input-box">
            <img src="" 
                 alt="Email icon" width="20" height="20">
            <input type="email" required>
            <label>Email</label>
        </div>

        <div class="input-box">
            <img src="" 
                 alt="Password icon" width="20" height="20">
            <input type="password" required>
            <label>Password</label>
        </div>
        
        <div class="input-box">
            <img src="" 
                 alt="Password icon" width="20" height="20">
            <input type="password" required>
            <label>Re-enter Password</label>
        </div>


        <button type="submit">Login</button>


    </div>



    </body>

</html>