<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Welcome to the Signup Page, ready to jump in and get your word out and about</p>
        <label for="username">Put username here</label>
        <input type="text" id="username" name="username">
        <p></p>
        <label for="password">Make a password</label>
        <input type="text" id="password" name="password">
        <p></p>
        <label for="rpassword">Re-Enter the password pls</label>
        <input type="text" id="rpassword" name="rpassword">
        <p>By clciking Signup you agree the Terms & Conditions.</p>
        <button id="signupbutton">Sign-UP</button>
        

    </body>

</html>